---
title: Utility list
layout: blank-layout.hbs
---

<h2>Usage</h2>
<p>Use utility links to present users with a list of functions that may be of use to the user. Toggle which functionalities are relevant for the given page template the element is used on.</p>

<p>Included functionalities:</p>
<ul>
	<li>Copy link to clipboard</li>
	<li>Print this page</li>
	<li>Download as PDF</li>
	<li>Share this page (Social media sharing including Facebook, LinkedIn, Twitter as well as email sharing)</li>
</ul>

<h4>When to use or avoid</h4>
<p>Do:</p>
<ul>
	<li>use either to the right of the main content body in a related information column, or immediately beneath the page content (and above the footer).</li>
	<li>ensure variation used doesn't overpower the main content on the page (i.e. using a dark-themed variation on a light-themed page).</li>
	<li>there is the option of toggling each option available if they aren't relevant to the page template.</li>
</ul>
<p>Do not use:</p>
<ul>
	<li>for pages that aren't related as this is likely to confuse users</li>
	<li>in a transactional service or a form</li>
	<li>to link to content on the same page, consider in-page navigation</li>
</ul>

<h3>Copy Anchor Link Element</h3>
<p>In addition to the functionality available in the list element that serves at the scale of the the entire page, there is an additional feature that enables users to easily copy the link of the page at the section they are intending the link to link to.</p>
<p>This element, when enabled, will appear to the right of all h2 tags on the page and when clicked, will save an anchor link to the section to the user's clipboard.</p>

<h4>When to avoid</h4>
<p>Do not use:</p>
<ul>
	<li>when there are no ids being applied to the h2 tags in the content on the page.</li>
</ul>

<h2>Accessibility</h2>
<p>All components are responsive and meet WCAG 2.1 AA accessibility guidelines.</p>
