.nsw-utility-list {
  @include component-spacing();
  background-color: var(--nsw-off-white);

  &__title {
    @include font-size('lg');
    font-weight: var(--nsw-font-bold);
    padding-bottom: rem(16px);
    
    @include breakpoint('md') {
      padding-bottom: rem(24px);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
    border-bottom: 1px solid var(--nsw-grey-04);

    &:last-child {
      border-bottom: unset;
    }
  }

  .nsw-utility-list-item {
    padding: rem(16px);
    color: var(--nsw-brand-dark);
    display: flex;
    gap: $grid-gutters;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: var(--nsw-font-bold);
    // text-decoration: underline;

    &:hover {
      @include nsw-hover;
      outline-width: 0;
    }

    &:focus {
      outline-width: 3px;
    }

    span {
      color: var(--nsw-brand-dark);
    }

    .nsw-section--invert & {    
      color: var(--nsw-text-light);
    }

    svg {
      width: rem(24px);
      height: rem(24px);

      path {
        fill: var(--nsw-brand-dark);
      }
    }
  }

  .nsw-toggletip {
    border-bottom: unset;
  }

  .nsw-toggletip__content {
    display: flex;
    gap: 24px;
    padding: 0 rem(24px) rem(24px) rem(24px);
  }

  .nsw-material-icons {
    font-size: rem(map-get($nsw-icon-sizes, 24));
  }

  &--dark {    
    .nsw-utility-list-item {
      color: var(--nsw-text-light);
      background-color: var(--nsw-brand-dark);
      
      span {
        color: var(--nsw-text-light);
      }

      &:hover {
        background-color: var(--nsw-brand-dark);
        background-image: linear-gradient(rgba(var(--nsw-white-rgb), 0.15), rgba(var(--nsw-white-rgb), 0.15));
      }
    }
    
    .nsw-toggletip__content,
    .nsw-toggletip__header {
      span {
        color: var(--nsw-brand-dark);
      }
    }

  }

  &--light {
    li {
      border-color: var(--nsw-off-white);
    }

    background-color: var(--nsw-brand-light);
    color: var(--nsw-text-dark);
  }
}

.copy-clipboard-anchor {
  cursor: pointer;

  span {
    padding-left: rem(4px);
    color: var(--nsw-grey-02);
    vertical-align: middle;
  }

  span:nth-of-type(2) {
    font-size: 16px;
  }
}

.example-container {
  padding: rem(16px);
}
